<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Weather Journal</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>

<body>
  <div id="app">
    <div class="holder headline">
      <h1>FEND Capstone - Travel App</h1>
    </div>
    <div class="holder zip">
      <label for="destination">Destination :</label>
      <input type="text" id="input">
      <div class="date">
        <input class="date" type="text" id="day"><span>-</span>
        <input class="date" type="text" id="month"><span>-</span>
        <input class="date" type="text" id="year">
      </div>
    </div>
    <div class="holder feel">
      <button id="generate" type="submit"> Generate </button>
    </div>
    <div class="holder entry">
      <div class="title">Results</div>
      <div id="entryHolder">
        <div id="country"></div>
        <div id="latitude"></div>
        <div id="longitude"></div>
      </div>
    </div>
    <div class="holder">
      <span>Powered by:</span><br>
      <span>https://darksky.net/poweredby/</span>
    </div>
  </div>
  <script src="app.js" type="text/javascript"></script>

</body>

</html>