<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Weather Journal</title>
  <link href="https://fonts.googleapis.com/css?family=Inria+Serif|Roboto&display=swap" rel="stylesheet">
</head>

<body>
  <div id="app">
    <header>
      <h1>Travel Planner</h1>
    </header>
    <main>
      <label for="start">From</label>
      <input type="text" id="from">
      <label for="destination">To</label>
      <input type="text" id="input">
      <label for="tripdate">Date</label>
      <div id="dateCont">
        <input class="shdate" type="text" id="day">
        <span>-</span>
        <input class="shdate" type="text" id="month">
        <span>-</span>
        <input class="lodate" type="text" id="year">
      </div>
      <input type="submit" id="generate">
    </main>
    <aside>
      <h3>Sidebar...</h3>
      <span>for some more eyes-attracting bloatfull information, which is absolutly stunning! Maybe if we enter some
        more tekst we could actually make something fun out of it, you know what.... nah. Should be enough for test text
        :)</span>
    </aside>
    <footer>
      <span>Powered by:</span><br>
      <span>https://darksky.net/poweredby/</span>
    </footer>
  </div>
</body>

</html>